<div class="initial-screen__wrapper">
  <div class="initial-screen__container">
    <div class="initial-screen__logo">
      <%= render 'pages/initial-screen/logo' %>
    </div>
    <div class="initial-screen__cta">
      <h2>Did you say caribbean?</h2>
      <h1><strong>&beta;&epsilon;&alpha;&zeta;&lambda; &rho;&iota;&epsilon;&alpha;&sigmaf;&epsilon;.</strong></h1>
      <div class="initial-screen__search">
        <%= render 'pages/initial-screen/search' %>
      </div>
    </div>
    <div class="initial-screen__instructions">
      <%= render 'pages/initial-screen/instructions' %>
    </div>
  </div>
</div>
