<div class="initial-screen__wrapper">
  <div class="initial-screen__container container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="initial-screen__logo row">
          <%= render 'pages/initial-screen/logo' %>
        </div>
        <div class ="row">
          <div class="initial-screen__instructions col-md-10 col-md-offset-1">
            <%= render 'pages/initial-screen/instructions' %>
          </div>
        </div>
      </div>
      <div class="initial-screen__cta col-md-8">
        <h2>Did you say Caribbean?</h2>
        <h1>Beach please!</h1>
        <!--
        <h1><strong>&beta;&epsilon;&alpha;&zeta;&lambda; &rho;&iota;&epsilon;&alpha;&sigmaf;&epsilon;!</strong></h1>
        -->
        <div class="initial-screen__search">
          <%= render 'pages/initial-screen/search' %>
        </div>
      </div>
    </div>
  </div>
</div>
