<div class="legend__wrapper">
  <div class="legend__container">
    <div class="legend__row">
      <ul class="list-inline">
        <li>
          <%= image_tag "http://res.cloudinary.com/gabrielecanepa/image/upload/c_scale,w_50/v1504919446/003-beach-3_kxtiga.png" %>
        </li>
        <li>
          <h5><strong>Sandy & Calm</strong> beach</h5>
        </li>
      </ul>
    </div>
    <div class="legend__row">
      <ul class="list-inline">
        <li>
          <%= image_tag "http://res.cloudinary.com/gabrielecanepa/image/upload/c_scale,w_50/v1504919444/001-cave_fbaiy2.png" %>
        </li>
        <li>
          <h5><strong>Rocky</strong> beach</h5>
        </li>
      </ul>
    </div>
    <div class="legend__row">
      <ul class="list-inline">
        <li>
          <%= image_tag "http://res.cloudinary.com/gabrielecanepa/image/upload/c_scale,w_50/v1504919446/015-beach_r4sbba.png" %>
        </li>
        <li>
          <h5><strong>Wavy</strong> beach</h5>
        </li>
      </ul>
    </div>
    <div class="legend__row">
      <%= render 'pages/initial-screen/search' %>
    </div>
  </div>
</div>
