<a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
<a href="https://github.com/guilherme-andrade/beachbum" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
<a href="https://github.com/guilherme-andrade/beachbum#fork-destination-box" target="_blank"><i class="fa fa-code-fork" aria-hidden="true"></i></a>

