.legend__wrapper {
  position: absolute;
  top: calc(100vh + 5px);
  left: 5px;
  background-color: white;
  box-shadow: 3px 3px 3px lightgray;
}

.legend__container {
  padding: 20px 30px;
}

.legend__row {
  ul {
    list-style: none;

  }
  li {
    max-width: 120px;
    height: 50px;
    word-wrap: break-word;
    &:first-of-type {
      margin-top: 30px;
    }
  }
  input {
    border: none;
    color: darken(rgba(131, 201, 244, 1), 30%);
    padding-left: 20px;
    padding: 30px auto;
    font-size: 20px;
    line-height: 1.8;
    background-color: rgb(245, 245, 245);
  }
  h4 {
    margin-bottom: 0;
    font-weight: bold;
    color: darken(rgba(131, 201, 244, 1), 30%);
    padding-left: 20px;
    border-bottom: 3px solid darken(rgba(131, 201, 244, 1), 30%);
    padding-bottom: 10px;
  }
}
